button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.desk {
    padding-top: 94px;
    padding-bottom: 0;
}