.desk {
    padding-top: 94px;
    padding-bottom: 0;
}

.advantage-review {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.advantage-review .item {
    flex-basis: calc((100% - 90px) / 4);

    /*width: 270px;*/
}

.picture {
    display: flex;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.advantage-point {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
}

.advantage-review p {
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.7142;
}