.footer {
    background-color: var(--main-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    /*padding-top: 60px;*/
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
}

.address {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142;
    color: #ffff;
}

.footer-contacts .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts a {
    font-size: 14px;
    line-height: 1.7142;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--accent-color);
}

.join {
    margin-left: 70px;
}

.join-us {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.footer-networks {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.company-networks {
    width: 44px;
    height: 44px;
}

.company-network-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-network-link:hover,
.company-network-link:focus {
    background-color: var(--accent-color);
}

.main-footer {
    display: flex;
    align-items: baseline;
}

.form-footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.form-footer {
    margin-left: auto;
}

.form-input-footer {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--main-background-color);
    border-radius: 4px;
    outline: transparent;
    color: #ffffff;
}

.form-submit-footer {
    display: flex;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875px;
    align-items: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-buttom-icon {
    fill: #ffffff;
    margin-left: 10px;
}

.form-submit-footer:hover,
.form-submit-footer:focus {
    background-color: #188ce8;
}

.footer-wrapper {
    display: flex;
    margin-top: 20px;
}