.main-header {
    display: flex;
    align-items: center;
}

.header {
    background-color: #ffff;
}

.header {
    border-bottom: 1px solid #ececec;
}

.web {
    color: var(--accent-color);
}

.logo-header {
    /*padding-top: 24px;
  padding-bottom: 25px;*/

    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

/*.nav .item + .item {
  margin-left: 50px;
}*/

.nav a {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}



.nav .current {
    color: var(--accent-color);

    &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    transform: translateY(1px);

    background: #2196f3;
    border-radius: 2px;
}
}

.contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

/*.contacts .item + .item {
  margin-left: 50px;
}*/

.icon-color {
    margin-right: 10px;
    fill: var(--main-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .contacts a:hover &, 
    .contacts a:focus & {
    fill: var(--accent-color);
}
}

.contacts a {
    display: flex;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    text-decoration: none;
    letter-spacing: 0.02em;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}